.social-login .input-group-prepend .input-group-text {
    height: 45px;
    width: auto;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}
.social-login button {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 45px;
}

